$colorPink: #93206f;
$secondpink: #e03be0;
.wrapperTitle {
  text-align: center;
  font-size: 2rem;
  span {
    margin-left: 1rem;
    font-weight: bold;
  }
}
.wrapperSubtitle {
  text-align: center;
  margin-bottom: 1rem;
  h3 {
    font-size: 1.4rem;
    span {
      font-weight: bold;
    }
  }
}
.wrapperForms {
  display: flex;
  justify-content: center;
  align-items: center;
  .formCuenta {
    width: 20rem;
    margin: 2rem 0;
    .wrapperIcon {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      .icon {
        width: 5rem;
      }
    }
    .wrapperlink {
      margin-bottom: 1rem;
      a {
        color: $colorPink;
      }
    }
    .wrapperButton {
      display: flex;
      justify-content: center;
      .buttonLogin {
        width: 14rem;
        background-color: $secondpink;
        border: none;
      }
    }
  }
  .wrapperArtista {
    width: 20rem;
    border-left: 2px solid #ccc;
    margin-left: 2rem;
    .wrapperIcon {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      .icon {
        width: 3rem;
      }
    }
    .wrapperText {
      padding: 0.5rem 2rem;
      margin-bottom: 1rem;
      p {
        text-align: center;
        font-size: 0.9rem;
      }
    }
    .wrapperButton {
      display: flex;
      justify-content: center;
      .buttonLogin {
        width: 14rem;
        background-color: $secondpink;
        border: none;
      }
    }
  }
}
