$colorPink: #93206f;
$secondpink: #e03be0;
.form {
  max-width: 20rem;
  margin: 2rem auto;
  .wrapperTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    .title {
      span {
        margin-left: 1rem;
        font-weight: bold;
      }
    }
  }
  .wrapperlink {
    margin-bottom: 1rem;
    a {
      color: $colorPink;
    }
  }
  .wrapperButton {
    display: flex;
    justify-content: center;
    .buttonLogin {
      width: 14rem;
      background-color: $secondpink;
      border: none;
    }
  }
}
